/* Overwrite moz default */
input:invalid {	
	box-shadow: none;

	/* Moz default */
	/* box-shadow: 0 0 1.5px 1px red; */
}

/* Begin form validation error bubble for Webkit */

@-webkit-keyframes bounce {
	0% {
		opacity: 0.5;
		margin-left: 45px;
	}
	
	25% {
		margin-left: -25px;
	}
	
	50% {
		margin-left: 20px;
	}
	
	75% {
		margin-left: -18px;
	}
	
	100% {
		margin-left: -15px;
		opacity: 0.9;
	}
}

::-webkit-validation-bubble {
	-webkit-animation-timing-function: ease;
	-webkit-animation: bounce 0.45s 1;
	line-height: 0;
	margin-left: -15px;
	opacity: 0.9;
}

::-webkit-validation-bubble-message {
	background-color: #e51b00;
	background-image: -webkit-linear-gradient(#e51b00 43%, #ba1600 100%);
    border: 1px solid #9f1300;
	-webkit-border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.65) 0 2px 7px,
						inset rgba(255, 60, 60, 1) 0 1px 0px;
	color: #f3f3f3;
	font-family: 'helvetica nueue', arial, sans-serif;
	font-size: 1.24em;
	-webkit-font-smoothing: antialiased;
	line-height: 1em;
    min-width: 50px;
    max-width: 300px;    
    padding: 6px 10px 7px 10px;
	text-shadow: #901100 0 -1px 0;
	top: -7px;
}

::-webkit-validation-bubble-arrow {
	background-color: #e51b00;
	border: 1px solid #9f1300;
	border-right: none;
	border-bottom: none;
    -webkit-box-shadow: none;
    display: inline-block;
	height: 12px;
	left: 20px;
    position: relative;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    width: 12px;
}

::-webkit-validation-bubble-arrow-clipper {
    display: block;
	height: 16px;
    overflow: hidden;
}