@-webkit-keyframes slideIn {
	0% {
		opacity: 0;
		right: 400px;
	}
	
	100% {
		opacity: 1;
		right: 0;
	}
}

::-webkit-validation-bubble {
	line-height: 0;
	margin-top: -1.4em;
	max-width: 360px;
	opacity: 1;
	overflow: hidden;
	width: 51%;
}

::-webkit-validation-bubble-message {
	-webkit-animation-timing-function: ease;
	-webkit-animation: slideIn 0.18s 1;
	background-color: transparent;
	background-image: none;
	border-top: none;
    border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 18px solid #ffea00;
	-webkit-border-radius: 2px;
	box-shadow: none;
	color: #000;
	float: right;
	font-family: 'helvetica nueue', arial, sans-serif;
	font-size: 1.4em;
	-webkit-font-smoothing: antialiased;
	height: 0;
	line-height: 1.3em;
    min-width: 0;
    max-width: auto;
    padding: 0;
	text-align: left;
	text-indent: -2px;
	text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
	top: 0;
	width: 0;
}

::-webkit-validation-bubble-arrow {
	display: none;
}

::-webkit-validation-bubble-arrow-clipper {
    display: none;
}

/* Overwrite moz default */
input:invalid {	
	box-shadow: none;

	/* Moz default */
	/* box-shadow: 0 0 1.5px 1px red; */
}