/* -- This is the main error bubble container -- */
::-webkit-validation-bubble {
	line-height: 0;
	margin-left: 0;
	margin-top: -1.12em;
	opacity: 1;
	top: -1em;
}

/* -- This the message container, and where most of the styling happens -- */
::-webkit-validation-bubble-message {
	background-color: transparent;
	background-image: none;
    border: none;
	-webkit-border-radius: 0;
	box-shadow: none;
	color: #e60000;
	font-family: 'futura-pt-1', 'futura-pt-2', helvetica, sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
	line-height: 1em;
    min-width: 50px;
    max-width: none;    
    padding: 0;
	position: relative;
	text-shadow: none;
	top: 0;
}

/* -- For this demo we don't need the arrow and because of that we
      also don't need the arrow clipper.
-- */
::-webkit-validation-bubble-arrow, 
::-webkit-validation-bubble-arrow-clipper {
	display: none;
}

/* Overwrite moz default */
input:invalid {	
	box-shadow: none;
}