::-webkit-validation-bubble {
	line-height: 0;
	margin-left: 0;
	margin-top: -1.15em;
	opacity: 1;
}

::-webkit-validation-bubble-message {
	background-color: transparent;
	background-image: none;
    border: none;
	-webkit-border-radius: 0;
	box-shadow: none;
	color: #e60000;
	font-family: 'futura-pt-1', 'futura-pt-2', helvetica, sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
	line-height: 1em;
    min-width: 50px;
    max-width: none;    
    padding: 0;
	text-shadow: none;
	top: 0;
}

::-webkit-validation-bubble-arrow, 
::-webkit-validation-bubble-arrow-clipper {
	display: none;
}

/* Overwrite moz default */
input:invalid {	
	box-shadow: none;
}